---
import AboutComponent from '@components/about/AboutComponent.astro';
import { getStaticPaths, getI18nProps } from '@i18n/helperi18n';
import MainLayout from '@layouts/MainLayout.astro';
import ContactComponent from '@components/contact/ContactComponent.astro';
import IndexComponent from '@components/index/IndexComponent.astro';
import MapComponent from '@components/maps/MapComponent';

export { getStaticPaths };

const { lang, t, title } = getI18nProps(Astro.params, 'home');

const description = 'Descripción clara de tu negocio o sitio web. Idealmente entre 140 y 160 caracteres.';

// OG
const ogTitle = "Nombre de tu sitio o título atractivo";
const ogDescription = "Resumen que aparece al compartir en redes.";
const ogImage = "https://tusitio.com/img/preview.jpg";
const ogUR = "https://tusitio.com";
const ogType = "website";


---


<MainLayout 
  title={title} 
  lang={lang}
  description={description}
  ogTitle={ogTitle}
  ogDescription={ogDescription}
  ogImage={ogImage}
  ogUR={ogUR}
  ogType={ogType}
>


  <IndexComponent title={title} />

  <div class="section">
    <AboutComponent title={title} />
  </div>

 
  <ContactComponent title={title}/>


  <div class="section ml-10 mr-10">
    <MapComponent client:only="react" />
  </div>

</MainLayout>
