---
import MainLayout from "@layouts/MainLayout.astro";
import { getStaticPaths, getI18nProps } from "@i18n/helperi18n";
import MapComponent from "@components/maps/MapComponent.astro";

export { getStaticPaths };

const { lang, t, title } = getI18nProps(Astro.params, "map");

const description = 'Descripción clara de tu negocio o sitio web. Idealmente entre 140 y 160 caracteres.';

// OG
const ogTitle = "La meva llar | Ubicación";
const ogDescription = "Ubicación de nuestro bar la meva llar.";
const ogImage = "https://lamevallar.splytin.com/images/preview.jpg";
const ogUR = "https://lamevallar.splytin.com";
const ogType = "website";

---

<MainLayout 
  title={title} 
  lang={lang}
  description={description}
  ogTitle={ogTitle}
  ogDescription={ogDescription}
  ogImage={ogImage}
  ogUR={ogUR}
  ogType={ogType}
>
  
  <div class="section">
    <MapComponent />
  </div>

</MainLayout>
